<ion-content color="dark">

  <ion-content color="dark">
    <div text-center class="logo">

      <img class="logo-img" src="http://192.168.1.10:8080/profile%20pic.jpg" width="40%" />
    </div>

    <ion-content color="dark" text-center>
      <ion-card color="primary" padding class="card">
        <ion-card-header>
          <ion-card-subtitle>Server Found!</ion-card-subtitle>
          <ion-card-title>{{server}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-button routerLink="/tabs">Go</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-content>



  </ion-content>