<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Category</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of itm">
    <!-- <ion-label *ngIf="item.id == result.id">
          {{ item.name }}
          <ion-button (click)="placeOrder(item)" >Place Order</ion-button>
      </ion-label> -->

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{ item.price }}$</ion-card-subtitle>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>{{ item.description }}</ion-label>
          <ion-button (click)="placeOrder(item)">Place Order</ion-button>
        </ion-item>

      </ion-card-content>
    </ion-card>


  </div>


</ion-content>