<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title >All Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-content  class="card-background-page">
    <div *ngFor="let item of menu">
  
  <ion-card>
    <img src={{item.img}}/>
    <ion-card-header>
      <ion-card-title >{{ item.name }}</ion-card-title>
      <ion-card-title class="a">{{ item.price }} IQD</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-item>
        <ion-label>{{ item.description }}</ion-label>
      </ion-item>
      <ion-button expand="full" shape="round"(click)="placeOrder(item)" >Place Order</ion-button>
      
    </ion-card-content>
  </ion-card>
</div>
</ion-content>




</ion-content>