<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Categories</ion-card-subtitle>
      <ion-card-title>Drinks</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Alcohol</ion-label>
        <ion-button fill="solid" slot="end">View</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Non-Alcohol</ion-label>
        <ion-button fill="solid" slot="end">View</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Cocktails</ion-label>
        <ion-button fill="solid" slot="end">View</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Hot Drinks</ion-label>
        <ion-button fill="solid" slot="end">View</ion-button>
      </ion-item>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Categories</ion-card-subtitle>
      <ion-card-title>Food</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Pizzas</ion-label>
        <ion-button fill="solid" slot="end">View</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Burgers</ion-label>
        <ion-button fill="solid" slot="end">View</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Salads</ion-label>
        <ion-button fill="solid" slot="end">View</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Desserts</ion-label>
        <ion-button fill="solid" slot="end">View</ion-button>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>