<ion-header>
    <ion-toolbar class="toolbar">
      <ion-title >Home</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding-top>


  
  <ion-content class="card-background-page">
    <ion-card color="primary" padding>
        <ion-card-header>
          <ion-card-subtitle>Today's Offer</ion-card-subtitle>
  
          <ion-card-title>20% off for students!</ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <ion-button expand="full" slot="end" color="light" shape="round" (click)="alert()">GET OFFER</ion-button>
        </ion-card-content>
      </ion-card>

      <div *ngFor="let item of menu">


        <ion-card>
          <img src={{item.img}} />
          <ion-card-header>
            <ion-card-title>{{ item.name }}</ion-card-title>
            <ion-card-title class="a">{{ item.price }} IQD</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item>
              <ion-label>{{ item.description }}</ion-label>
            </ion-item>
            <ion-button expand="full" shape="round" (click)="placeOrder(item)">Place Order</ion-button>

          </ion-card-content>
        </ion-card>
      </div>
    </ion-content>



  </ion-content>